<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"
 	profile="sso">

<!--           http://www.springframework.org/schema/security/spring-security-3.0.3.xsd" -->

	<b:bean id="springSecurityFilterChainProxy" class="org.springframework.security.web.FilterChainProxy">
			<!-- allow spring security filter to apply rules on URL parameters -->
			<!-- 		<b:property name="stripQueryStringFromUrls" value="false" /> -->
	
		<b:constructor-arg>
			<b:list>
<!-- 		</sec:filter-chain-map> -->
		</b:list>
		</b:constructor-arg>
	</b:bean>
</b:beans>
